In [1]:
import pymongo
from pymongo import MongoClient

In [2]:
# 인증모드로 접속
conn = MongoClient('mongodb://web:1234@localhost/web')
conn

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
db = conn.web
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web')

In [4]:
# 컬렉션 생성
students = db.students
students

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web'), 'students')

In [5]:
# 컬렉션에 저장된 모든 문서들을 제거
try:
    students.drop()
except:
    print('자료가 없습니다.')

In [6]:
# 도큐먼트 생성
row1 = {'no':1, 'name':'김철수', 'kor':90, 'eng':80, 'mat':77}
row2 = {'no':2, 'name':'박민성', 'kor':95, 'eng':83, 'mat':76}
row3 = {'no':3, 'name':'송영희', 'kor':92, 'eng':87, 'mat':75}

# 레코드 1개 추가
students.insert_one(row1)
students.insert_one(row2)
students.insert_one(row3)

# 전체 문서 조회
rows = students.find()
for row in rows:
    print(row)

{'_id': ObjectId('640e8c2d7b9e33ac53d96da9'), 'no': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('640e8c2d7b9e33ac53d96daa'), 'no': 2, 'name': '박민성', 'kor': 95, 'eng': 83, 'mat': 76}
{'_id': ObjectId('640e8c2d7b9e33ac53d96dab'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}

In [7]:
# 문서 개별 삭제
students.delete_one({'no':2})
rows = students.find()
for row in rows:
    print(row)

{'_id': ObjectId('640e8c2d7b9e33ac53d96da9'), 'no': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('640e8c2d7b9e33ac53d96dab'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}

In [9]:
# 문서 수정
students.update_one({'no':1}, {'$set':{'kor':100, 'eng':100}})
rows=students.find()
for row in rows:
    print(row)

{'_id': ObjectId('640e8c2d7b9e33ac53d96da9'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77}
{'_id': ObjectId('640e8c2d7b9e33ac53d96dab'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}

In [10]:
# 일괄 수정
rows = students.find()
for row in rows:
    tot = row['kor'] + row['eng'] + row['mat']
    avg = tot/3
    if avg >= 90:
        grade='A'
    elif 80<=avg<90:
        grade='B'
    elif 70<=avg<80:
        grade='C'      
    elif 60<=avg<70:
        grade='D'      
    else:
        grade='F'
    students.update_one({'no':row['no']}, {'$set':{'tot':tot, 'avg':avg, 'grade':grade}})

rows = students.find()
for row in rows:
    print(row)

{'_id': ObjectId('640e8c2d7b9e33ac53d96da9'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77, 'avg': 92.33333333333333, 'grade': 'A', 'tot': 277}
{'_id': ObjectId('640e8c2d7b9e33ac53d96dab'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75, 'avg': 84.66666666666667, 'grade': 'B', 'tot': 254}

In [11]:
rows = students.find()
print('학번\t이름\t국어\t영어\t수학\t총점\t평균\t등급')
print('='*60)
for row in rows:
     print(f"{row['no']}\t{row['name']}\t{row['kor']}\t{row['eng']}\t{row['mat']}\t{row['tot']}\t{row['avg']:.1f}\t{row['grade']}")

학번	이름	국어	영어	수학	총점	평균	등급
============================================================
1	김철수	100	100	77	277	92.3	A
3	송영희	92	87	75	254	84.7	B

In [12]:
print('조건 검색')
myrow=students.find({'no':3})
for field in myrow:
    print(field)

조건 검색
{'_id': ObjectId('640e8c2d7b9e33ac53d96dab'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75, 'avg': 84.66666666666667, 'grade': 'B', 'tot': 254}