In [1]:
import numpy as np
from scipy import stats

data=np.array([4,5,1,2,7,2,6,9,3])

# 평균
a=np.mean(data)
print(a)

4.333333333333333

In [2]:
# 중위수
b=np.median(data)
print(b)

4.0

In [3]:
# 최빈값
c=stats.mode(data)
print(c[0][0])

2

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_7576\3182086343.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  c=stats.mode(data)

In [14]:
from statistics import variance, stdev

points=np.array([20,80,90,95,87,89,95,99,97,100,60,70,77,88,89,89,90])

# 분산
a = variance(points)
print(a)

374

In [15]:
# 표준편차
b = stdev(points)
print(b)

AttributeError: 'numpy.int32' object has no attribute 'bit_length'

In [8]:
# 범위
c=np.max(points) - np.min(points)
print(c)

80

In [9]:
# 최대, 최소값
a=np.max(points)
b=np.min(points)
c=a-b
print(a)
print(b)
print(c)

100
20
80

In [10]:
# 백분위
for val in [20, 80, 100]:
    d = np.percentile(points, val)
    print(str(val)+"%", d)

20% 77.6
80% 95.0
100% 100.0

In [11]:
# 사분위수
a, b, c = np.percentile(points, [25, 50, 75])
print(a)    # 1사분위수
print(b)    # 2사분위수(중위수)
print(c)    # 3사분위수
print(c-a) # ICR(InterQuartile Range)

80.0
89.0
95.0
15.0

In [16]:
import pandas as pd

df = pd.read_csv('c:/data/ozone/ozone.csv')
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
..     ...      ...   ...   ...    ...  ...
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

In [17]:
df.describe() # 기초통계량

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000